* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-ff: 'Poppins', sans-serif;
    --primary-clr: #14213d;
    --white-clr: #fff;
}
body, html {
    font-family: var(--main-ff);
    color: var(--primary-clr);
    scroll-behavior: smooth;
    position: relative;
}

/* utility classes & element*/
.container {
    padding-inline: 8rem;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.space-btwn {
    justify-content: space-between;
}
.space-evnly {
    justify-content: space-evenly;
}
.direction-clmn {
    flex-direction: column;
}
.flex-grow {
    flex-grow: 1;
}
.wrap {
    flex-wrap: wrap;
}
.m-bottom {
    margin-bottom: 6rem;
}
img {
    max-width: 100%;
}
h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
}
input, textarea {
    border: none;
    border-bottom: 1px solid #bcbaba;
    background: none;
    font-size: 1.2rem;
    font-family: var(--main-ff);
    padding: .8rem .5rem;
    margin: .2rem 0 2.3rem 1rem;
    outline: none;
}
.gap-2 {
    gap: 1.5rem;
}

/* End of classes & element */

#cart-msg {
    background-color: crimson;
    color: var(--white-clr);
    font-size: 1.2rem;
    position: fixed;
    right: 0;
    top: 8rem;
    padding: 1rem;
    transition: all .4s ease-in-out;
}
#cart-container {
    background-color: var(--white-clr);
    box-shadow: -12px 10px 15px -3px rgba(0,0,0,0.1);
    overflow-y: auto;
    white-space: pre;
    padding: 1rem 1rem 4rem 1rem;
    position: fixed;
    top: 7rem;
    right: 0;
    height: 100%;
    width: 24%;
    transition: all .4s ease-in-out;
}
#cart-container .total-cta {
    position: absolute;
    bottom: 113px;
    left: 0;
    z-index: 3;
}
#cart-container .total-cta .total {
    background-color: #bcbaba;
    color: var(--white-clr);
}
#cart-container .total-cta .checkout {
    background-color: #14213dde;
    border: none;
    color: var(--white-clr);
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--main-ff);
    text-align: center;
    padding: .7rem .5rem;
}
#cart-container .cart-product {
    gap: 1rem;
    position: relative;
    padding: 1rem;
}
#cart-container .cart-product .remove-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
}
#cart-container .cart-product .cart-item-img {
    border: 1px solid var(--primary-clr);
    border-radius: .4rem;
    padding: .5rem;
    max-width: 30%;
}
#cart-container .cart-product h5 {
    font-size: 1.6rem;
    font-weight: 400;
}
#cart-container .cart-product span {
    font-size: 1.8rem;
}
#cart-container .cart-product #quantity {
    border: 1px solid var(--primary-clr);
    padding: 0 0 0 1rem;
    margin: 0;
    width: 20%;
}

.nl-overlay {
    background-color: #00000094;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.nl-overlay .right-side h4 {
    text-align: center;
    font-size: 1.2rem;
}
.nl-overlay .right-side p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.nl-overlay .right-side {
    background-color: var(--white-clr);
    padding: 4rem;
}
.nl-overlay .right-side button {
    background-color: var(--primary-clr);
    border: none;
    color: var(--white-clr);
    cursor: pointer;
    font-size: 1.1rem;
    font-family: var(--main-ff);
    text-align: center;
    padding: .7rem 1rem;
    margin-left: 1rem;
    width: 33%;
}
header{
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
}
nav {
    padding: 0.5rem 0 0.5rem 0;
}
nav .logo a {
    color: var(--primary-clr);
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
}
nav .logo a span {
    font-size: 4rem;
}
nav ul {
    list-style: none;
    gap: 3rem;
}
nav ul li a {
    color: var(--primary-clr);
    text-decoration: none;
    font-size: 1.4rem;
}
nav .cart {
    position: relative;
}
nav .cart a {
   color: var(--primary-clr);
}
nav .cart a .items-count {
    background-color: crimson;
    border-radius: 100%;
    color: var(--white-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    height: 27px;
    width: 27px;
    visibility: hidden;
}

/* Start the collection section */
.products-container {
    margin-top: 8rem;
    gap: 2rem;
}
.products-container .products-card {
    margin-bottom: 4rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}
.products-container .products-card .product-details {
    padding-inline: .5rem;
    margin-top: 1.2rem;
}
.products-container .products-card .product-details h4 {
    color: var(--primary-clr);
    font-size: 1.3rem;
    font-weight: 500;
}
.products-container .products-card .product-details .price-cta {
    margin: 1rem 0 2.5rem 0;
}
.products-container .products-card .product-details .price-cta span {
    color: var(--primary-clr);
    font-weight: 600;
    font-size: 1.8rem;
}
.products-container .products-card .product-details .price-cta button {
    background-color: transparent;
    border: 1px solid var(--primary-clr);
    color: var(--primary-clr);
    cursor: pointer;
    font-family: var(--main-ff);
    font-size: 1.1rem;
    padding: .5rem 1.3rem .5rem 1.3rem;
    transition: all .5s ease-in-out;
}
.products-container .products-card .product-details .price-cta button:hover {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
.products-container .products-card .product-details .buy {
    background-color: var(--primary-clr);
    border: none;
    color: var(--white-clr);
    cursor: pointer;
    font-family: var(--main-ff);
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: .5rem 1.3rem .5rem 1.3rem;
    width: 100%;
    transition: all .5s ease-in-out;
}
.products-container .products-card .product-details .buy:hover {
    background-color: var(--white-clr);
    border: 1px solid var(--primary-clr);
    color: var(--primary-clr);
}

.about .wrapper {
    gap: 1rem;
    margin-top: 5rem;
}
.about .about-img img {
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    height: 70%;
}
.about .texts {
    padding-right: 7rem;
    margin-top: 4rem;
}
.about .texts h3 {
    font-size: 2.5rem;
    margin-bottom: 4.5rem;
}
.about .texts p {
    line-height: 2.5;
    font-size: 1.1rem;
    text-align: justify;
}

#contact-us .contact-wrapper {
    margin-top: 5rem;
}
#contact-us .contact-infos {
    background-color: var(--primary-clr);
    color: var(--white-clr);
    padding: 2rem;
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.1);
}
#contact-us .contact-infos .contact-texts {
    margin-bottom: 5rem;
}
#contact-us .contact-infos .contact-texts h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
#contact-us .contact-infos .contact-texts p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;
}
#contact-us .contact-infos .contact-details p {
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 3rem;
}
#contact-us .contact-form {
    background-color: var(--white-clr);
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.1);
    padding: 2rem;
}
#contact-us .contact-form form label {
    font-size: 1.2rem;
    margin-bottom: .7rem;
    margin-left: 1.5rem;
}

#contact-us .contact-form form textarea {
    resize: vertical;
}
#contact-us .contact-form form button {
    background-color: var(--primary-clr);
    color: var(--white-clr);
    cursor: pointer;
    font-size: 1.4rem;
    font-family: var(--main-ff);
    padding: .8rem 1.7rem;
    margin-left: 1rem;
    width: 30%;
}

footer {
    background-color: var(--primary-clr);
    color: var(--white-clr);
    text-align: center;
    padding: 1rem;
}
footer h4 {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
footer .icons {
    margin-bottom: 1.1rem;
}
footer .icons a {
    text-decoration: none;
    font-size: 1.8rem;
    margin-left: 1rem;
}
footer a{
    color: white;
}